@{
    ViewBag.Title = "Contacto";
}

<h2 id="ppal">Contacto</h2>
<br>

<div class="container" id="contacto">
    <div class="row">
        <div class="col-md-8">
            <div class="form group">
                <label for="">Nombre:</label>
                <input type="text" placeholder="Ingresa tu nombre" class="form-control">
            </div>
            <br>
            <div class="form group">
                <label for="">E-mail:</label>
                <input type="email" placeholder="Ingresa tu e-mail" class="form-control">
            </div>
            <br>
            <div class="form group">
                <label for="">Teléfono (opcional):</label>
                <input type="number" placeholder="Ingesa tu número" class="form-control">
            </div>
            <br>
            <div class="form group">
                <label for="">Comentario:</label>
                <input type="text" placeholder="Déjanos tu comentario" class="form-control">
            </div>
            <br>
            <div class="form group">
                <button class="btn btn-danger">Enviar</button>
            </div>
        </div>
        <div id="redes">
            <div class="col-md-4">
                <img width="50" height="50" src="~/Content/images/Redes/facebook.png" />
                <br>
                <a href="https://www.facebook.com/alpacasmithok/" target="_blank">Seguinos en Facebook</a>
                <br>
                <br>
                <img widht="50" height="50" src="~/Content/images/Redes/instagram.png" />
                <br>
                <a href="https://www.instagram.com/alpacasmith/" target="_blank">Seguinos en Instagram</a>
                <br>
                <br>
                <img widht="50" height="50" src="~/Content/images/Redes/pinterest.png" />
                <br>
                <a href="https://es.pinterest.com/alpacasmith/" target="_blank">Seguinos en Pinterest</a>
                <br>
                <br>
                <img widht="50" height="50" src="~/Content/images/Redes/twitter.png" />
                <br>
                <a href="https://twitter.com/AlpacaSmithOk" target="_blank">Seguinos en Twitter</a>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>