
@{
    ViewBag.Title = "CualEsMiTalle";
}

<h2 id="ppal">Cuál es mi talle?</h2>
<div class="container" col-xs-8 col-md-10>
    <img align="center" width="1024" height="600" class="img-responsive" src="~/Content/images/medidas.jpg" />
</div>

