@{
    ViewBag.Title = "LineaPlata925";
}

<h2 id="ppal">Linea Plata 925</h2>
<div class="container">
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Ciara Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo CIARA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Eolo Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo EOLO</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Kaia Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo KAIA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Leto Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo LETO</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Malu Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo MALU</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Margot Plata925 (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo MARGOT</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Musa Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo MUSA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Nut Plata925 (6).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo NUT</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Round Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo ROUND</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Anillo Square Plata925 (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Anillo SQUARE</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Alaia naranja Plata925 (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera ALAIA naranja</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Alaia rosa Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera ALAIA rosa</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Alaia violeta Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera ALAIA violeta</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Amparo amatista Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera AMPARO amatista</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Amparo azul Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera AMPARO azul</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Aria Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera ARIA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Gala agua Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera GALA Agua</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Gala aire Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera GALA Aire</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Gala fuego Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera GALA Fuego</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Gala night Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera GALA Night</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Gala tierra Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera GALA Tierra</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Plata925/Pulsera Lola Plata925 (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            </ br>
            <li>Pulsera LOLA</li>
        </ul>
    </div>
</div>