
@{
    ViewBag.Title = "LineaBijou";
}

<h2 id="ppal">Linea Bijou</h2>
<div class="container">
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Choker Amelie.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Choker AMELIE</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Choker Faith 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Choker FAITH</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Choker Spirit 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Choker SPIRIT</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Chiara 3.jpeg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar CHIARA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Chloe 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar CHLOE</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Elephant 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar ELEPHANT</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Frida 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar FRIDA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gaia 3.jpeg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GAIA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Genesis 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GENESIS</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Grace 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GRACE</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Greta amethyst 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GRETA amethyst</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Greta aventurine 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GRETA aventurine</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Greta cuarzo 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GRETA cuarzo</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gypsy blue 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GYPSY blue</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gypsy green 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GYPSY green</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gypsy orange 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GYPSY orange</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gypsy purple 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GYPSY purple</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gypsy red 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GYPSY red</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Gypsy white 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar GYPSY white </li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Iris 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar IRIS</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Juana 2.jpeg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar JUANA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Kawit 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar KAWIT</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Luana 1.jpeg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar LUANA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Muna 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar MUNA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Peace 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar PEACE</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Collar Tania 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Collar TANIA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pechera Zoe 1.jpeg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pechera ZOE</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Carmin 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera CARMIN</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Ethiopia amarilla 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera ETHIOPIA amarrilla</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Ethiopia azul 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera ETHIOPIA azul</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Ethiopia coral 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera ETHIOPIA coral</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Ethiopia fucsia 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera ETHIOPIA fucsia</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Ethiopia rosa 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera ETHIOPIA rosa</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Ethiopia verde 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera ETHIOPIA verde</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Fatima blue (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera FATIMA blue</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Fatima green 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera FATIMA green</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Fatima pink (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera FATIMA pink</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Fatima purple 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera FATIMA purple</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Frida 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera FRIDA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Gina 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera GINA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Gypsy aurore 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera GYPSY aurore</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Gypsy green 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera GYPSY green</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Gypsy purple 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera GYPSY purple</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera gypsy rose 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera GYPSY rose</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Indie 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera INDIE</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Mila 1.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera MILA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Bijou/Pulsera Umma 2.jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Pulsera UMMA</li>
        </ul>
    </div>
</div>

