
@{
    ViewBag.Title = "LineaAlpaca";
}

<h2 id="ppal">Linea Alpaca</h2>
<div class="container">
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Amazonas Alpaca (3).jpg" class="col-xs-6 col-md-3" alt="">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo AMAZONAS</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Amour Amour Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo AMOUR AMOUR</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo AS Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo ALPACA SMITH</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Campo Alpaca (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CAMPO</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Carpe Diem Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CARPE DIEM</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Cebra Alpaca (4).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CEBRA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Checker Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CHECKER</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Chenu Alpaca (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CHENU</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Ciara Plata925 (2).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CIARA</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Continental Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CONTINENTAL</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Crat Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CRAT</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Cuadrado Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo CUADRADO</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Deux Gloses Alpaca (5).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo DEUX GLOSES</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Full moon Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo FULL MOON</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Infinity Alpaca (4).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo INFINITY</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Ingles Alpaca (5).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo INGLES</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Love Alpaca (5).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo LOVE</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Martele Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo MARTELE</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Nail Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo NAIL</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Natu Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo NATU</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Reff knot Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo REFF KNOT</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Rosa Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo ROSA</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Shing Shang Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo SHING SHANG</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Stacie Alpaca (1).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo STACIE</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Tourbillion Alpaca (5).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo TOURBILLION</li>
        </ul>
        <img width="300" height="200" src="~/Content/images/Linea Alpaca/Anillo Triangulo Alpaca (3).jpg" class="col-xs-6 col-md-3">
        <ul class="col-xs-6 col-md-3" type="none">
            <br />
            <li>Anillo TRIANGULO</li>
        </ul>
    </div>
</div>

