
@{
    ViewBag.Title = "QuienesSomos";
}

<h2 id="ppal">Quienes somos</h2>

<div class="container">
    <p id="P" class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
        Hola el equipo de Alpaca Smith te da las gracias por haber llegado hasta acá e interesarte por nosotros y saber quienes somos y por que hacemos esto con tanta pasión y dedicación para que a tus manos lleguen las mejores piezas.
        A la cabeza del equipo esta Valentin Belmonte, quién durante su colegio secundario estudio la especialización de técnico en mecánica industrial lo que dio bastos conocimientos sobre metales, sus tipos, sus calidades y características y como trabajarlos. Luego continuo sus estudios en los campos de comunicación, publicidad y dirección de fotografía, a la vez en paralelo realizaba diversos cursos y especializaciones en joyería y metales preciosos.
        Con todos los conocimientos obtenidos durante tantos años decide seguir su vocación emprendedora y conforma el equipo de Alpaca Smith.
        Siguiendo con la presentación de nuestro equipo llegamos a nuestros cool-hunters. Ellos viven buscando de forma presencial y vía web cazar todas las tendencias de la moda a nivel mundo.
        Una vez que nuestros cool-hunters terminan su labor le pasan la información a los diseñadores, son ellos los que transforman ideas en algo tangible.
        Y de ahí en mas entre todo el equipo realizan las piezas una a una.
    </p>
</div>

